.hero-section {
  color: var(--color-heading);
  display: flex;
  
  margin-top: 4rem;
  justify-content: space-between;
}
.audio{
  background-color: black;
}
.btns-script{
  display: flex;
  align-items: center;

  gap: 2rem;
  justify-content: space-around;
}

.meta{
  color: white;
  padding: 14px 138px;
  position: absolute;
  left: 20%;
  height: 136px;
  border: 2px solid white;
  top: 18rem;
  width: 60%;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3rem;
}
.tri{
  font-size: 61px;
}
.music-player{
  background-color: #272d37;
}
.heart-btns {
  font-size: 30px;
  
  border: 2px solid white;
  border-radius: 30px;

}
.hearts-contain{
  display: flex;
    gap: 95px;
    align-items: end;
    margin-left: 33px;
}
.heart-btns-red {
  font-size: 30px;

  border: 2px solid white;
  border-radius: 30px;
  color: red;

}
.heart-white{
  /* color: whitesmoke; */
}
.btnss{
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* .hearts-contain{
  
  display: flex;
  align-items: center;
 
  width: 100%;
  justify-content: space-between;
  margin-left: 52px;

} */
.heart-red{
  color: red;
}
.left-text-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width:70%;
  margin: auto 0 auto 0;
  padding-right: 9%;
  padding-left: 3%;
}

.main-heading-section {
  font-size: 3.2rem;
  color: whitesmoke;
    line-height: 1.2;
    width: 89%;
}

.sub-text {
  font-size: 0.9rem;
  color: var(--secondary);
}
.sub-text-section{
  font-size: 16px;
}
.hero-btn {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  color: var(--color-heading);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--buttons);
  transition: background-color 0.3s;
}

.hero-btn:hover {
  cursor: pointer;
  background-color: var(--buttons-active);
}

.right-img {
  background-image: url(../assets/ethereum.gif);
  background-size: cover;
  width: 30rem;
  height: 30rem;
}


@media screen and (max-width: 800px) {
.hero-section{
  display: flex;
  flex-direction: column;
}
.left-text-section{
  margin: 1% 8%;
  width: 100%;
}
.main-heading-section{
  font-size: 3.2rem;
    color: whitesmoke;
    line-height: 1.2;
    width: 90%;
    width: 90%;
}

}