/* for navbar when there is no user signed in or logged in     display: flex;
    align-items: center;      */
.nav-main{
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  align-items: center;
  height: 4rem;

}
.logo-main-new{
  display: flex;
  align-items: center;
  gap: 10px;
  color: whitesmoke;
}
.search-logo-main{
  display: flex;
  align-items: center;
  gap: 61px;
}
.search-logo-main > input{
  height: 1.5rem; width: 100%; border: 2px solid white;
  font-family: "Poppins", sans-serif;
}
.profile-icon{
  color: whitesmoke;
  font-size: 30px;
  cursor: pointer;
}
.search-inpt::placeholder{
  font-family: "Poppins", sans-serif;
  
}
.search-img-main{
  font-size: 20px;
  color: black;
  margin-left: -4rem;
  background: white;
  border: 2px solid white;
  border-radius: -2px;
  border-radius: -32px;
  height: 23px;
  width: 47px;
  border-radius: 2px solid;
}

.nav {

 position: fixed;

  z-index: 100;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  align-items: center;
  /* margin: 1rem auto 0 auto; */
  background-color: #000;
}

.logo-main{
  display: flex;
  align-items: end;
  gap: 9px;
  position: absolute;
  left: 2%;
  top: -74%;
}
.logo-icon{
  color: whitesmoke;
  font-size: 30px;
}
.nav input {
  width: 31rem;
  height: 3rem;
  padding-left: 1.5rem;
  background-color: #333333;
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--color-heading);
}

.search-img {
  font-size: 1.8rem;
  color: whitesmoke;
  margin-left: -4rem;
}

.search-logo {
  justify-self: center;
  padding: 1rem;
}

.search-img:hover {
  background-color: gray;
  color: white;
}

.btn-nav {
  height: 42px;
  width: 100px;
  color: white;
  background-color: #02050e;
  border: 2px solid var(--buttons);
  border-radius: 10px;
  transition: border 0.3s;
}

.btn-nav:hover {
  cursor: pointer;
  border: 2px solid var(--buttons-active);
}

.nav input::placeholder {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.avatar-container-new-user{
  position: absolute;
  /* margin-left: 89rem; */
  width: -0.5rem;
  /* border-radius: 50%; */
  cursor: pointer;
  right: 19.8%;
  top: 1.7%;
  border: 2px solid white;
  padding: 0.3% 0.7%;
  border-radius: 12px;
}
.avatar-container-new {
  position: absolute;
  /* margin-left: 89rem; */
  width: -0.5rem;
  /* border-radius: 50%; */
  cursor: pointer;
  right: 11%;
  top: 2%;
  border: 2px solid white;
  padding: 0.3% 0.7%;
  border-radius: 12px;
}

.upload{
  background: black;
  border: 1px solid white;
  color: white;
  padding: 8px 22px;
  font-family: 'Poppins';
  cursor: pointer;
}
/* sign up functionality */
.sign-in{
  position: absolute;
    top: 3.9rem;
    left: 68.3%;
    padding: 6px;
    /* background-color: whitesmoke; */
    border: 1px solid var(--buttons);
    color: white;
    font-size: 12px;
    height: 50px;
    border-radius: 10px;
    width: 6.5rem;
    text-align: center;
}
.test{
  text-align: center;
}
.upload-container{
  position: absolute;
  z-index: 100;
  width: 7%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  top: 70px;
  left: 40%;
  color: whitesmoke;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  /* left: 50%; */
  margin-left: 23rem;

}
.upload-container li{
  text-align: center;
  padding: 2px;
  cursor: pointer;
}
.sign-up{
  position: absolute;
  top: 4.1rem;
  left: 76.7%;
  /* background-color: whitesmoke; */
  border: 1px solid var(--buttons);
  color: white;
  width: 6.7rem;
  text-align: center;
  font-size: 12px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.sign-in-user{

  cursor:pointer;
}
.sign-in-creators{
  
  cursor:pointer;
}

.sign-up-user{
  margin-top: 5px;
  margin-bottom: 2px;
  cursor:pointer;
}
.sign-up-creator{
  margin-top: 5px;
  margin-bottom: 2px;
  cursor:pointer;
}
.meta{
  height: 30px;
}
.meta-text{
  font-weight: 800;
  font-size: 20px;
}
.meta-mask{
  display: flex;

  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
  padding: 1rem;
  
}
.wallet-container{

  margin: auto;
  position: absolute;
  width: 45%;
  top: 8%;
  left: 30%;
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.close-wallet{
  display: flex;
  width: 193%;
  /* padding: 5px; */
  color: black;
  font-size: 15px;
}
/* sign up/in forms */
.sign-in-form{
  color: whitesmoke;
 display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  gap: 2rem;
  background: rgba(255, 255, 255, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.38);
top: 5%;
left: 39%;
padding: 7rem;
}
.close{
  position: absolute;
  top: 2rem;
    left: 21rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.closeForm{
  position: absolute;
  top: 2rem;
    left: 27rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.btn{
  border: 2px solid white;
    padding: 2px 13px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    
}
.role-selection{
  display: flex;
  gap: 10px;
  align-items: center;
}
select{
  background: rgba(255, 255, 255, 0.38);
   background-color: #64666c;
   color: whitesmoke;
  border: 2px solid whitesmoke;
    font-family: 'Poppins';
    padding: 4px;

}
option{
  background: rgba(255, 255, 255, 0.38);
}
.drop-menu-open{
  display: inline;
  display: inline;
  margin-top: -2rem;
  border: 2px solid white;
  padding: 4px 56px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease-in;
}
.drop-menu-open > li{
  cursor: pointer;
}
.drop-menu-close{
  display:none;
}
.dropdown-menu{
  display: flex;
  
  gap: 3rem;
}
.dropdown-icon{
  font-size: 23px;
}
.buttonns{
  display: flex;
  gap: 2rem;
}
.point{
  cursor: pointer;
  list-style: none;
  color: white;
}


.inpt{
  width: 100%;
  outline: none;
  border: none;
  border-top: none;
  color:white;
  background-color: #64666c;
  border-bottom: 2px solid whitesmoke;
}
.inpt::placeholder{
  color: whitesmoke;
  font-family: 'Poppins',sans-serif;
}
.sucess-message{
  position: absolute;
    color: white;
    top: 3%;
    border: 2px solid green;
    /* padding: 0.5% 4%; */
    left: 35%;
    background-color: green;
    height: 2.7%;
    width: 22%;
    padding: 15px;
    font-size: 25px;

}
.error-message{
  position: absolute;
    color: white;
    top: 3%;
    border: 2px solid red;
    /* padding: 0.5% 4%; */
    left: 35%;
    background-color: red;
    height: 2.7%;
    width: 22%;
    padding: 18px;
    font-size: 25px;

}