.main-container{
    margin-top: 5rem;
    padding: 10px;
    color: whitesmoke;
}

.analytics{
    text-align: center;
    color: whitesmoke;

}
.analytic{
    text-align: center;
    color: whitesmoke;
    
}
.work{
    margin-top: 1rem;
    margin-right: 75rem;

}
.btns-profile{
    display: flex;
    gap: 2rem;
}
